<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li>Dodaj sprzedawce</li>
                    <li>Dodaj nabywce</li>
                    <li>Dodaj fakture</li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
